* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

   
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    background-image: linear-gradient(to top, black, #ebb551, rgb(106, 106, 245));
    height: 100vh; 
  }

  h1 {
    font-size: 50px;
    margin: 100px 0 80px 0;
  }

  
  .container {
    background: black; 
    width: 70%; 
    max-width: 1000px; 
    min-height: 600px;
    max-height: 1000px;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: solid 10px white;
    border-radius: 15px;
  }
    
  
  .col {
    height: 100%;
    width: 25%;
    max-width: 300px; 
    min-height: 700px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    border: none;
  }
  
  
  .card {
    height: 30%;
    width: 70%;
    margin: 10px auto; 
    border: solid 8px white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-back {
    background-color: grey; 
  }
  
  
  .button-container {
    display: flex;
    justify-content: center;
    border: none;
  }
  
  
  .reset {
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 10px 10px 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Permanent Marker', cursive;
    border: 5px solid black;
  }
  
  
  .play {
    background-color: orange;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 15px 10px 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Permanent Marker', cursive;
    border: 5px solid black;
  }
  
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
      height: 70%;
    }
  }
  @media (max-width: 480px) {
    .container {
      width: 80%;
      height: 80%;
    }
  }
  @media (max-height: 1086px) {
    .card {
      height: 18%;
    }
  }